<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account verwalten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <amplify-authenticator>
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
          Benutzerinformationen
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Vorname</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Nachname</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Adresse</ion-label>
        <ion-input placeholder="Strasse und Nummer"></ion-input>
        <ion-input placeholder="Zusatzinformationen"></ion-input>
        <ion-input placeholder="Stadt"></ion-input>
        <ion-input placeholder="Kanton"></ion-input>
        <ion-input placeholder="Postleitzahl"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>Passwort</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Passwort wiederholen</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>



    </ion-list>
  </amplify-authenticator>
</ion-content>
