<ion-header >
  <ion-toolbar  color="primary">
    <ion-title>Kategorien</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let category of categorys">
    <ion-list-header>
      {{category.title}}
    </ion-list-header>

    <ion-item *ngFor="let subCategory of category.categories.items">
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>{{subCategory.title}}</h2>
        <p>{{subCategory.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>