<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Startseite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div id="providers">
    <div class="title">
      <h2>Unsere Partner</h2>
      <p>Durch unsere breite auswahl an Partnern sind wir davon überzeugt, dass sie den richtigen Job finden, der zu Ihnen passt.</p>
    </div>
    <ion-card class=" ion-no-margin">
      <img class="ion-padding" src="./assets/images/sfs.png" />
      <ion-card-header>
        <ion-card-title>SFS Heebrugg</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>