<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Jobsuche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid id="settings">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Stellenbezeichnung <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Arbeitsort <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Arbeitspensum</ion-label>
          <ion-select value="03" >
            <ion-select-option value="01">Stundenbasis</ion-select-option>
            <ion-select-option value="02">Projektanstellung</ion-select-option>
            <ion-select-option value="03">Teilzeit</ion-select-option>
            <ion-select-option value="04">Vollzeit</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" >Entfernung</ion-label>
          <ion-range min="5" max="200" pin color="secondary">
            <ion-icon slot="start" size="medium" name="location-outline"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-radio-group>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list id="searchresults">
    <ion-list-header>
     <h2>Suchergebnisse:</h2>
     <ion-grid>
      <ion-row>
        <ion-col >
          <ion-item>
            <ion-radio value="revelance"></ion-radio>
            <ion-label class="ion-padding-start">Relevanz</ion-label>
          </ion-item>
        </ion-col>
        <ion-col >
          <ion-item>
            <ion-radio value="date"></ion-radio>
            <ion-label class="ion-padding-start">Datum</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-list-header>

    <ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="2" >
            <ion-img  src="../assets/images/sfs.png"></ion-img>
          </ion-col>
          <ion-col size="10">
            <ion-label>
              <h3>Fullstack React Entwickkler (m/w)</h3>
              <h4>ValleySolutions - 9450 Altstätten</h4>
              <p>Ihre Herausforderung
                Sie werden Mitglied eines agilen Scrum-Teams dessen Ziel es ist, bestehende Java-Software-Lösungen zu
                optimieren und weiterzuentwickeln. Zudem ist Ihre Mitarbeit bei der Entwicklung und Anwendung von
                Full-Strack-Lösungen gefragt. Sie arbeiten mit den neusten Webtechnologien und ... </p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>
</ion-content>