<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Jobsuche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid id="settings">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Stellenbezeichnung
          </ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Arbeitsort 
          </ion-label>
          <ion-input type="text" formControlName="location" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Arbeitspensum</ion-label>
          <ion-select  formControlName="employment">
            <ion-select-option *ngFor="let employment of employmentEnum | keyvalue;" value="{{employment.key}}">{{employment.value}}</ion-select-option> 
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item *ngIf="categories">
          <ion-label position="stacked">Kategorie</ion-label>
          <ion-select formControlName="category">
            <ion-select-option *ngFor="let category of categories; let id = index" value="{{category.id}}">{{category.title}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button type="submit" fill="solid" shape="round">Suchen</ion-button>
    
  </form>
  </ion-grid>
  <ion-list id="searchresults">
    <ion-list-header>
     <h2>Suchergebnisse:</h2>
     <ion-grid>
      <ion-row>
        <ion-col >
          <ion-item>
            <ion-radio value="revelance"></ion-radio>
            <ion-label class="ion-padding-start">Relevanz</ion-label>
          </ion-item>
        </ion-col>
        <ion-col >
          <ion-item>
            <ion-radio value="date"></ion-radio>
            <ion-label class="ion-padding-start">Datum</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-list-header>

    <ion-item *ngFor="let job of jobs; let id = index">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="2" >
            <ion-img  src="../assets/images/sfs.png"></ion-img>
          </ion-col>
          <ion-col size="10">
            <ion-label>
              <h3>{{job.title}}</h3>
              <h4>{{job.category.title}}</h4>
              <h4>{{job.company.name}} - {{job.company.postcode}} {{job.company.city}}</h4>
            </ion-label>
            <div class="description">
              <p>{{job.shortDescription}}</p>
            </div>
            <ion-button shape="round" [routerLink]="['/job/', job.id]" routerDirection="forward">Mehr Informationen</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>