<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Neues Jobinserat erstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
          Allgemeines
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">Titel</ion-label>
        <ion-input placeholder="Bezeichnung der Stelle" type="text" formControlName="title" [(ngModel)]="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Kurzbeschreibung</ion-label>
        <ion-textarea placeholder="Beschreiben sie die Stelle und Ihr Unternehmen möglichst kurz." formControlName="shortDescription" [(ngModel)]="shortDescription" type="text" auto-grow="true">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Beschreibung</ion-label>
        <angular-editor formControlName="description" [(ngModel)]="description" [config]="editorConfig"></angular-editor>

      </ion-item>
      <ion-item *ngIf="categories">
        <ion-label position="stacked">Kategorie</ion-label>
        <ion-select  formControlName="category">
          <ion-select-option *ngFor="let category of categories; let id = index" value="{{category.id}}">{{category.title}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Benefits</ion-label>
        <tag-input formControlName="benefits" [separatorKeyCodes]="[32]" class="ion-no-padding" ></tag-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header lines="full">
        <ion-label>
          Lohn & Anstellung
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">Arbeitspensum</ion-label>
        <ion-select formControlName="employment">
          <ion-select-option *ngFor="let employment of employmentEnum | keyvalue;" value="{{employment.key}}">{{employment.value}}</ion-select-option>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Lohn von</ion-label>
        <ion-input type="number" placeholder="2700" formControlName="payFrom" [(ngModel)]="payFrom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" >Lohn bis</ion-label>
        <ion-input type="number" placeholder="20000" formControlName="payTo" [(ngModel)]="payTo"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Dateien Hochladen</ion-label>
        <ion-input placeholder="Mehrere Dateien hinzufügen" type="text" ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" fill="solid" shape="round">
      Job speichern
    </ion-button>
  </form>

  <div>
    <h2>Vorschau</h2>
    <h3 >{{title}}</h3>
    <h3 >{{shortDescription}}</h3>
    <div [innerHTML]="description"></div>
  </div>
</ion-content>