
    ion-img {
        max-width: 150px;
    }

   ion-card {
        ion-card-title {
            font-weight: 600;
            font-size: 18px;
            color: var(--ion-color-primary)
        }
        ion-card-subtitle {
            font-weight: 600;
        }
    }

    
    ion-card-content {
        font-size: 13px;
        color: #1f1f1f;
        p {
            margin: 0,0,0,10;
        }  
    }


