<ion-header no-border>  
  <ion-toolbar color="secondary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  
  <!-- <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        Sign-Up
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>E-Mail</ion-label>
      <ion-input  type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Passwort</ion-label>
      <ion-input  type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Passwort erneut eingeben</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Unternehmensaccount?</ion-label>
      <ion-toggle color="primary"></ion-toggle>
    </ion-item>
  </ion-list> -->
</ion-content>

<ion-footer no-border >  
  <ion-label>Signed-In</ion-label>
</ion-footer>  