<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Startseite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<div id="search">
  <div class="title">
    <h2>Nach was suchen sie?</h2>
    <p>Wir sind davon überzeugt,dass sie bestimmt den richtigen Job mit unserer Suche finden.</p>
  </div>
</div>
  <div id="providers">
    <div class="title">
      <h2>Unsere Partner</h2>
      <p>Durch unsere breite Auswahl an Partnern sind wir davon überzeugt, dass sie den richtigen Job finden, der zu Ihnen passt.</p>
    </div>
    <ion-card *ngFor="let company of companys; let id = index">
      <amplify-s3-image [imgKey]="company.image" ></amplify-s3-image>
      <ion-card-header>
        <ion-card-title>{{company.name}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>